.App {
  text-align: center;
  margin: 0, auto;
}

/* .Nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
} */
li {
  padding: 2rem;
  margin: 1 rem;
  list-style: none;
  border: solid, 10px;
  border-radius: 5px;
  border-color: black;
}

.App-header {
  background-color: #0a48c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.biglist {
  background-color: burlywood;
}
